apiVersion: apps/v1
kind: Deployment
metadata:
  name: citus-worker
  labels:
    app: citus
    role: worker
spec:
  replicas: 2
  selector:
    matchLabels:
      app: citus
      role: worker
  template:
    metadata:
      labels:
        app: citus
        role: worker
    spec:
      containers:
      - name: worker
        image: citusdata/citus:11.2
        env:
        - name: POSTGRES_PASSWORD
          value: "postgres"
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_DB
          value: "postgres"
        ports:
        - containerPort: 5432
        readinessProbe:
          exec:
            command: ["pg_isready","-U","postgres"]
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          exec:
            command: ["pg_isready","-U","postgres"]
          initialDelaySeconds: 20
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: citus-worker
  labels:
    app: citus
    role: worker
spec:
  selector:
    app: citus
    role: worker
  ports:
  - port: 5432
    targetPort: 5432
